body{
    color: RGBA(183,122,68,1);
    font-family: 'Roboto', sans-serif;
}

li.nav-item {
    align-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-left: 25px;
    margin: 0 auto;
}
a.nav-link:hover{
    background-color: #0566ce;
    text-decoration: underline;
    color: white;
}

#hero-image{
    background-image: url("../img/beach.jpg");
    height: 800px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sunset-class{
    background-image: url("../img/beach2.jpg");
    height: 800px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hotel-image{
    background-image: url("../img/hotel.jpg");
    width:300px;
    height: 300px;
    border-radius: 50%;
    border: orange dotted 1px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    background-position: bottom center;
}

.flight-image{
    background-image: url("../img/flight.jpg");
    width:300px;
    height: 300px;
    border-radius: 50%;
    border: orange dotted 1px;
    text-align: center;
    margin: 0 auto;
    background-position: center center;
    overflow: hidden;
    background-repeat: no-repeat;   
}

#parallax-midpoint{
    background-image:url("../img/beach2.jpg");
    height: 500px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 } 

 h2{
     text-align: center;
     color: white;
 }

 .gallery-cities{
     border: solid orange 2px;
     height: 250px;
     margin-bottom:10px;
     border-radius: 10px;
 }

 .col-cities{
     border: solid blue 2px;
 }
.gallery-container{
    padding: 10px;
}



/*--------------------------------------------------------------------------------------------------------------------CITY TILES--*/

.city-break-h3{
    text-align: center;
    color: orange;
}

#dublin-tile{
    background-image: url("../img/dublin.jpg");
    background-position: bottom center;
    opacity: 0.6;
    transition: transform .5s;
}
#dublin-tile:hover{
    opacity: 1;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.05);
}

#belfast-tile{
    background-image: url("../img/belfast.jpg");
    background-position: center;
}

#edinburgh-tile{
    background-image: url("../img/edinburgh.jpg");
    background-position:  center center;
}

#london-tile{
    background-image: url("../img/london.jpg");
    background-position:  center bottom;
}

.city-name{
    text-align: center;
    color: orange;
    font-weight: 500;
    padding-top: 200px;
}



 


       

        